<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.admin.module.sys.mapper.SysAdminMapper">

    <select id="selectAdminList" resultType="map">
        select a.id, a.username as account, FROM_UNIXTIME(a.created_at, "%Y-%m-%d") as createTime, a.email, a.nickname,
        a.description as remark, a.role_id as role, r.name as roleName, a.department_id dept, d.name as deptName, a.status
        from sys_admin a
        left join sys_department d on d.id = a.department_id
        left join sys_role r on r.id = a.role_id
        where a.status != 2

        <if test="conditionMap.account != null and conditionMap.account != ''">
            AND a.username like '%${conditionMap.account}%'
        </if>

        <if test="conditionMap.deptId != null and conditionMap.deptId != ''">
            AND d.id = #{conditionMap.deptId}
        </if>

        <if test="conditionMap.nickname != null and conditionMap.nickname != ''">
            AND a.nickname like '%${conditionMap.nickname}%'
        </if>

    </select>

    <select id="loadUserByUsername" resultType="com.xm.admin.module.sys.entity.SysAdmin">
        select * from sys_admin where username = #{username}
    </select>

</mapper>
