<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.admin.module.sys.mapper.SysPermissionMapper">
    <select id="selectAllPermissionListMap" resultType="map">
        select id, url as routePath, `name` as menuName, component, parent_id as parentMenu, `type`, sort_order as orderNo,
        icon, permision_code as permission, status, is_external_link as isExt, is_cache as keepalive, is_display as `show`,
        FROM_UNIXTIME(created_at, "%Y-%m-%d") as createTime
        from sys_permission
        where status != 2

        <if test="menuName != null and menuName != ''">
            AND name like '%${menuName}%'
        </if>

        <if test="status != null">
            AND status = #{status}
        </if>

        order by sort_order asc
    </select>
</mapper>
