<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.admin.module.sys.mapper.SysPermissionMapper">
    <select id="selectAllPermissionListMap" resultType="map">
        select id, url as routePath, `name` as menuName, component, parent_id as parentMenu, `type`, sort_order as orderNo,
        icon, permision_code as permission, status, is_external_link as isExt, is_cache as keepalive, is_display as `show`,
        FROM_UNIXTIME(created_at, "%Y-%m-%d") as createTime, method, current_active_menu as currentActiveMenu
        from sys_permission
        where status != 2

        <if test="menuName != null and menuName != ''">
            AND name like '%${menuName}%'
        </if>

        <if test="status != null">
            AND status = #{status}
        </if>

        <if test="show != null">
            AND is_display = #{show}
        </if>

        order by sort_order asc
    </select>

    <select id="selectUserPermissionListMap" resultType="map">
        select p.id, p.url as routePath, p.`name` as menuName, p.component, p.parent_id as parentMenu, p.`type`, p.sort_order as orderNo,
        p.icon, p.permision_code as permission, p.status, p.is_external_link as isExt, p.is_cache as keepalive, p.is_display as `show`,
        FROM_UNIXTIME(p.created_at, "%Y-%m-%d") as createTime, p.method, P.current_active_menu as currentActiveMenu
        from sys_permission as p
        left join sys_role_permission as rp on rp.permission_id = p.id
        left join sys_admin as a on a.role_id = rp.role_id
        where p.status != 2 and p.type != 2

        <if test="userId != null">
            AND a.id = #{userId}
        </if>

        order by p.sort_order asc
    </select>

    <select id="findPermissionCodeByUserId" resultType="com.xm.admin.module.sys.entity.SysPermission">
      SELECT DISTINCT p.id, p.name, p.url, p.icon, p.type, p.component, p.parent_id, p.sort_order, p.status, p.method, p.permision_code
      FROM sys_admin u
      LEFT JOIN sys_role_permission rp ON u.role_id = rp.role_id
      LEFT JOIN sys_permission p ON p.id = rp.permission_id
      WHERE u.id = #{userId} AND p.status = 1 AND p.type = 2
      ORDER BY p.sort_order ASC
    </select>
</mapper>
