<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.admin.module.sys.mapper.SysRoleMapper">

    <select id="selectRoleList" resultType="map">
        select r.id, r.`name` as roleName, r.code as roleValue, r.status, r.description as remark, FROM_UNIXTIME(r.created_at, "%Y-%m-%d") as createTime,
        concat(p.permission_id) as permissionIds
        from sys_role r
        left join sys_role_permission p on p.role_id = r.id
        where r.status != 2

        <if test="conditionMap.roleNme != null and conditionMap.roleNme != ''">
            AND r.name like '%${conditionMap.roleNme}%'
        </if>

        <if test="conditionMap.status != null">
            AND r.status = #{conditionMap.status}
        </if>

        group by r.id

    </select>

    <select id="selectAllRoleList" resultType="map">
        select r.id, r.`name` as roleName, r.code as roleValue, r.status, r.description as remark, FROM_UNIXTIME(r.created_at, "%Y-%m-%d") as createTime,
        concat(p.permission_id) as permissionIds
        from sys_role r
        left join sys_role_permission p on p.role_id = r.id
        where r.status != 2
    </select>

</mapper>
